@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h1 {
  @apply mb-8 text-3xl font-bold;
}
h2 {
  @apply mb-4 text-2xl font-bold text-black;
}

h3 {
  @apply mb-2 text-xl font-bold;
}

h4 {
  @apply mb-2 text-lg;
}

/* Custom CSS to remove arrows from number input */
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  appearance: textfield;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
  border-radius: 6px; /* Rounded corners on the scrollbar handle */
}

::-webkit-scrollbar-track {
  background-color: #55555555; /* Color of the scrollbar track */
  border-radius: 6px;
}
/* Show the scrollbar when the element is being hovered */
/* For Webkit browsers */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change handle color on hover */
}
